@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<br />

    <p>Player one turn</p>
    <input type="number" @bind-value="@playerOneNumber">
    <button @onclick="SubmitPlayerOneTurn">Submit</button>

    <p>@playerOneNumber</p>

@code {
    private int currentCount = 0;

    int playerOneNumber = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void SubmitPlayerOneTurn()
    {
        
    }
}
