@page "/imagesTest"

<h3>ImagesTest</h3>

<img id="bulbasaur" src="@(IsClicked ? ClickedImageLink : "pokemon-images/bulbasaur.png")" @onclick="ChangePhoto"/>
<img id="charmander" src="@(IsClicked ? ClickedImageLink : "pokemon-images/charmander.png")" />
<img id="squirtle" src="@(IsClicked ? ClickedImageLink : "pokemon-images/squirtle.png")" />


@code {
    private bool IsClicked = false;

    private string ClickedImageLink = "pokemon-images/abra.png";

    private void ChangePhoto()
    {
        IsClicked = !IsClicked;
    }

}
